

.box {
    border: solid white 1px;
    height: 650px;
    border-radius: 10px;
    margin: 100px 180px;
    position: relative;
    padding-top: 50px;
    background-color: white;
}

#title {
    background-color: white;
    color: black;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.subject,
.message,
.user_id,
.comments {
    padding: 20px;
    background-color: white;
}

#sub_title{
    color: black;
    background-color: white;
    text-align: left;
    margin-top: 10px;
}

#form{
    margin-top: 10px;
}

#subject-input{
    width: 99%;
    padding: 5px;
    background-color: wheat;
    border: none;
    height: 30px;
    border-radius: 5px;
}

#subject-message,
#subject-comments{
    width: 99%;
    padding: 5px;
    background-color: wheat;
    border: none;
    height: 60px;
    border-radius: 5px;
}

form {
    margin-top: 5px;
    background-color: wheat;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.submit {
    text-align: center;

    background-color: white;
}

#submit-btn {
    background-color: wheat;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    width: 10%;
}